@import "./../../styles/constants";

.home-bg {
  background: url("/static/images/pitch/pitchaman-info-graphics.jpg") no-repeat center center fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $text_color;


  & .idx-header {
        background: $our_grey;
     & .brand {
        & img {
          width: 100%;
          height: auto;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        & .tagline {
          width: 100%;
          height: auto;
          display: inline-block;
          @include font-Bold();
          font-size: 12px;
          margin-top:4px;
          float: right;
        }
      }
     & .authLinks {
        float: right;


          & span {
            display: inline-block;
            @include font-Bold();
            font-weight: bold;
            font-size: 18px;
            padding: 40px 10px 7px 10px;

            &:hover {
              cursor: pointer;
              background: $hover_grey;
            }
          }
       @media screen and (max-width: 768px) {
         & {
           float: left;
           margin-top:20px;
           width: 100%;
           background: $dark;
           & span {
             display: block;
             margin: 8px 0;
             padding: 10px 10px 7px 10px;
           }
         }
       }
      }
  }

  & .punchline {
    font-size: 35px;
    color: #fff;
    @include font-Bold();
    margin-right: 10px;
    margin-top: 10px;
  }

  & .auth-modals{
    position: fixed;
    top: 45%;
    right:35%;
    left:30%;

    &.hide {
      display: none;
    }

    @media screen and (max-width:768px) {
      & {
        left: 20%;
        right: 20%;
      }
    }
  }
  & .main-search {
    position: fixed;
    top: 65%;
    right:40%;
    left:35%;

    &.hide {
      display: none;
    }
    @media screen and (max-width:768px) {
      & {
        left: 20%;
        right: 20%;
      }
    }
  }
}
